@media (max-width: 576px) {
  .container-grid {
    display: flex;
    flex-direction: column;
  }

  .main-grid {
    padding: 20px 0;
  }

  h2.title {
    margin: 10px 0;
  }

  ul.uk-padding {
    padding: 10px 0;
  }

  input[type=text], 
  input[type=email], 
  input[type=file],
  textarea#beacons-bio {
    margin-bottom: 1rem;
  }

.input-flex {
    display: flex;
    flex-direction: column;
    align-items: inherit!important;
  }
}