div[class^="beacons-section"]{
    margin: 2rem 0;
}

.beacons-section-header {
    display: flex;
    flex-direction: column;
    margin: 0!important;
    gap: 1rem;
    align-items: center;
}

.profile-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

p.user-name {
    font-size: 14px;
    color: #767676;
    margin: 0;
}

.beacons-section-links {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.twitter-badge{
    background-color: #00acee;
    padding: 1rem .785rem;
    border-radius: .25rem;
    color: #fff!important;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
    display: inline-block;
    margin-right: .5rem;
    width: 100%;
    text-align: center;
}

/* YouTube */
.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}