@import './sections.css';
@import './cookies.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

h5 {
    margin-bottom: 0!important;
}

input[type=text], 
input[type=email], 
input[type=file],
textarea {
    width: 500px;
    max-width: 90%;
    border: solid 1px #0a0a0a;
}

input[type=text], input[type=email] {
    height: 40px;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 14px;
    color: #333;
    outline: none;
}


body {
    background-color: #0a0a0a;
}

.mr-1 {
    margin-right: 16px;
}

.drag-n-drop:hover {
    cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/openhand.cur), default !important;
}

.btn-add {
    cursor: pointer;
}

.container-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    'main preview';
    height: 100vh;
}

.main-grid{
    grid-area: main;
    padding: 20px;
    background-color: #0a0a0a;
    border-right-color: #adadad;
    border-right-style: solid;
    border-right-width: 1px;
}

.preview-grid {
    grid-area: preview;
    background-color: #0a0a0a;
}

.boards {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.board {
    padding: 16px;
    background-color: #f6f6f6;
    border: solid 1px #151515;
    border-radius: 4px;
    margin: 0 16px;
}

.dropzone-elements {
    min-height: 60px;
}

.board h3 {
    margin: 0;
    color: #151515;
}

.border-preview {
    border-radius: 41px;
    z-index: 1000;
}

.dropzone-preview {
    border-radius: 41px;
    height: 629px;
    width: 300px;
    padding: 16px;
    background-image: linear-gradient(to right bottom, #cfe2ff, #c4eeff, #c8f7f5, #dbfce9, #f6ffe1);
    border: solid 10px #808080;
    overflow-x:hidden;
    overflow-y:auto;
}

/* width */
.dropzone-preview::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .dropzone-preview::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .dropzone-preview::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  .dropzone-preview::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.card-element {
    transition: 400ms;
}

.card-element:hover {
    border-radius: 4px;
    background: #f3f3f3;
    box-shadow:  0 20px 40px -8px rgba(173, 173, 173, 0.25);
}

.highlight {
    background-color: #BBB9D133;
}

.card-element, .dropzone {
    transition: 400ms;
}

.is-dragging{
    cursor: grabbing;
    opacity: 0.3;
}

.over {
    background-color: #81CEA5aa;
}